<div class="card">
    <div class="card-header">
      New Contact
    </div>
    <div class="card-body">
      <app-contact-form (save)="submitted($event)"></app-contact-form>
    </div>
  
  </div>

