.title .title-string {
	font-size: 0.8em;
}

.nav-item {
	cursor: pointer;
	border: white 1px solid;
	margin: 3px;
	border-radius: 5px;
}

.nav-item .nav-link {
	cursor: pointer;
	padding-left: 10px;
}

.nav-item:hover {
	background: rgba(255, 255, 255, 0.15);
}

.nav-item.active {
	background: rgba(255, 255, 255, 0.15);
}