<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">


    <a style="min-width: 280px" class="navbar-brand" routerLink="/">
      Angular contacts
      <span class="page title" *ngIf="title">
       - <span class="title-string">{{title}}</span>
      </span>
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " [routerLink]="['/contacts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
  true}">
  
          <span class="nav-link" >  <i class="fa fa-list-ul" aria-hidden="true"></i> Index </span>
        </li>
  
  
        <li class="nav-item" [routerLink]="['/contacts','new']" routerLinkActive="active">
  
          <span class="nav-link" > <i class="fa fa-plus-square" aria-hidden="true"></i> New </span>
        </li>
  
      </ul>
  
    </div>
  </nav>
  