<div class="form-group">
  <label for="search-input">Search:</label>
  <input id="search-input" #searchInput type="text">
  <button type="submit" class="btn btn-success" (click)='doSearch(searchInput.value)'> Submit </button>
</div>


<table *ngIf="contacts; else loading" class="table table-hover table-responsive-md">
    <thead class="header">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="contact-row" *ngFor="let c of contacts; trackBy: contactsTrackByFn">
      <th scope="row">{{c.id}}</th>
      <td>{{c.name}}</td>
      <td>{{c.email}}</td>
      <td>{{c.phone}}</td>
      <td>
  
        <span class="float-right">
  
          <button (click)="showDetails(c)" class="btn btn-outline-primary mb-1 btn-sm">
            DETAILS
          </button>
  
          <button (click)="editContact(c)" class="btn btn-outline-primary mb-1 btn-sm">
            EDIT
          </button>
  
          <button (click)="deleteContact(c)" class="btn btn-outline-danger mb-1 btn-sm">
            DELETE
          </button>
  
        </span>
  
      </td>
    </tr>
  
    </tbody>
  </table>
  
  <ng-template #loading>
    <span>loading contacts...</span>
  </ng-template>
  